<nav class="navbar text-white flex items-center justify-between px-[44px] py-[20px]">
  <h3 class="logo font-Poppins font-semibold text-large">Wil<span class="text-primary">fred</span><span class="text-[40px] text-center">.</span></h3>
  <ul class="inline-flex items-center gap-[12px] text-small font-light capitalize">
    <li class="link"><a href="/home">home</a></li>
    <li class="link"><a href="/about">about</a></li>
    <li class="link"><a href="resume">resume</a></li>
    <li class="link"><a href="/services">services</a></li>
    <li class="link"><a href="projects">project</a></li>
    <li class="link"><a href="contact">contact</a></li>
    <button type="button" class="btn">Hire me</button>
  </ul>
</nav>
