<header>
  <app-navbar></app-navbar>
  <div class="mt-[64px] text-white ml-[44px] font-Poppins font-bold uppercase">
    <h3 class="text-subtitle leading-8">Wilfred</h3>
    <h2 class="text-title">Tonye</h2>
    <p class="text-normal font-regular">I'm <span #typedElement class="font-regular text-normal leading-4 text-primary"></span></p>
    </div>
    <div class="network flex gap-6 mt-[12%] ml-[44px] text-large">
      <a href="https://github.com/WilfredTonye" target="_blank" rel="noopener noreferrer">
        <fa-icon [icon]="Github" class="social-link"></fa-icon>
      </a>
      <a href="https://www.instagram.com/wilfredtonye.9/" target="_blank" rel="noopener noreferrer">
        <fa-icon [icon]="Insta" class="social-link"></fa-icon>
      </a>
      <a href="https://www.behance.net/wildesign_237" target="_blank" rel="noopener noreferrer">
        <fa-icon [icon]="Behance" class="social-link"></fa-icon>
      </a>
      <a href="https://x.com/WilfredTonye" target="_blank" rel="noopener noreferrer">
        <fa-icon [icon]="Twitter" class="social-link"></fa-icon>
      </a>
      <a href="https://www.youtube.com/@WilDesign_237" target="_blank" rel="noopener noreferrer">
        <fa-icon [icon]="Youtube" class="social-link"></fa-icon>
      </a>
    </div>
    <div class="footer">
      <app-footer></app-footer>
    </div>
</header>
